.card {
  align-items: center;
  background: var(--white);
  border-radius: 5px;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  font-weight: 600;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
  height: 75px;
  width: 365px;
}

.concluded {
  background: #79cf93;
  box-shadow: none;
  color: var(--white);
}

@media (min-width: 1450px) {
  .card {
    flex-grow: 1;
    margin: 10px 15px 0 15px;
  }
}

@media (max-width: 1350px) {
  .card {
    width: 340px;
  }
}

@media (max-width: 1300px) {
  .card {
    width: 325px;
  }
}

@media (max-width: 1200px) {
  .card {
    width: 100%;
  }
}

.cardFullWidth {
  width: 100%;
}

.iconWrapper {
  padding: 2%;
  background-color: var(--white);
  border: 3px solid var(--gray-line);
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.icon {
  height: 30px;
  width: 30px;
}

.card p {
  text-align: center;
  width: 50%;
}

.card .buttonGroup {
  display: flex;
  gap: 20px;
}

.card button svg:hover {
  transition: fill 0.2s;
}

.checkButton svg:hover {
  fill: var(--green);
}

.editButton svg:hover {
  fill: var(--blue);
}

.deleteButton svg:hover {
  fill: var(--red);
}

.undoButton svg:hover {
  fill: var(--red);
}
