.login {
  align-items: center;
  background-color: var(--blue-dark);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.login h1 {
  color: var(--white);
}

.login p {
  color: var(--white);
}

.login header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: center;
  width: 100%;
}

.login header div {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: center;
}

.login header div img {
  height: 70%;
  width: 70%;
}

.login button {
  align-items: center;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: -5px 5px 5px rgba(53, 53, 53, 0.5);
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 50px;
  justify-content: center;
  min-width: 170px;
  padding: 5px;
  width: 20%;
}

.login button p {
  color: var(--text);
  font-weight: 500;
}

.login img {
  height: 80%;
}
